.sd-callout-box {

    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    padding: 15px;
    background-color: white;
}

#callout-contents {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: black;


}

.reserve-btn {
    width: 95%;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 2px 3px 5px 1px black;
    background-color: rgb(235, 38, 38);
    color: white;
    font-size: 16px;

}

.lower-container {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    background-color: black;
    border-top: 3px solid white;
    padding-top: 10px;
    font-size: 15px;
}

.lower-container h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.details-area {
    width: 50%;
}

.spot-details-container li {
    text-decoration: none;
    list-style-type: none;

}

.spot-details-container {

    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    color: white;
}

.spot-details-container img {
    border: 1px solid rgb(92, 87, 87);
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px grey;


}

.sd-title {
    margin-left: 1rem;

}

.preview-image-container {

    width: 100%;

}

.preview-image-container img {
    width: 100%;


}

.images-wrapper {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.sd-images-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 50%;
    height: 100%;
    gap: 5px;
    align-self: end;
    margin: 10px;



}

.sd-images-container img {
    width: 100%;
    height: 100%;
    box-shadow: 8px 3px 30px 10px;

}

.reviews-container {
    border-top: 3px dotted white;
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.review-header {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;;
}

.post-review-btn {
    width: fit-content;
    padding: 4px;
    font-size: 16px;
    background-color: rgb(19, 17, 17);
    color: rgb(245, 191, 191);
    border: 2px solid rgb(240, 104, 104);
    border-radius: 5px;
    margin-top: .5rem;
    font-weight: 700;
    cursor: pointer;
}

.post-review-btn:hover {
    background-color: rgb(150, 31, 31);
    color: white;

}
