
.spot-list {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.spot-list img {
    width: 500px;
    height: 400px;
    border: 2px solid grey;
    border-radius: 10px;
}

.manage-spots-container {
    color: white;
    margin: 1rem;
}

#create-spot-button {
    border: 3px solid rgba(175, 36, 36, 0.733);
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(46, 45, 45);
    color: white;
}

#create-spot-button:hover {
    color: rgb(247, 19, 19);
}
