
.spot-list {
    width: 90%;
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 3rem;
    align-items: center;
    margin-top: 5rem;

}

.spot-list img {
    width: 100%;
    height: 300px;
    border: 2px solid grey;
    border-radius: 10px;
}

.manage-spots-container {
    color: white;
    margin: 1rem;
}
#create-spot-btn {
    margin-left: 1rem;
    margin-bottom: 4rem;
}

#create-spot-button:hover {
    color: rgb(247, 19, 19);
}

.manage-spots-container h1 {
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.edit-buttons {
    display: flex;
    gap: 10px;
}
