.landing-page-container li {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.landing-page-container {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    margin-left: 5rem;

}

.landing-page-container img {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px;
}

.lp-lower-details {
    display: flex;
    justify-content: space-between;
}
