
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul,
a {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: #000000;
    font-weight: 700;
    

}

.menu-options:hover {
    color: red;
}


a:hover {
    color: red;
}

.profile-dropdown {

    position: absolute;
    top: 15rem;
    right:0rem;
    padding: 15px;
    border-top: 2px solid rgb(19, 18, 18);
    border-left: 2px solid rgb(19, 18, 18);
    border-bottom: 2px solid rgb(19, 18, 18);
    box-shadow: 4px 10px 20px 4px rgb(114, 19, 19);
    border-radius: 10px;
    height: 50%;
    background-color: aliceblue;


}

.hidden {
    display: none;

}

.profile-button {
    width: fit-content;
    background-color: rgb(235, 38, 38);
    padding: 15px;
    border: 3px solid black;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px black;
}

.profile-button:hover {
   background-color: rgb(218, 18, 18);
}

.logout-btn {
    border: 2px solid black;
    padding: 5px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: rgb(241, 15, 15);
    width: 60%;
    cursor: pointer;

}

.user-content p{
color: rgb(58, 127, 145);
font-weight: bolder;
margin-bottom: 5px;
font-style: italic;

}

.user-content li {
margin-bottom: 5px;

}

.user-content {
    display: flex;
    flex-direction: column;
    cursor: default;
}
