
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid rgb(155, 26, 26);
    box-shadow: 0px 0px 3px 0px;
    margin-bottom: 1rem;
    background-color: rgb(19, 17, 17);


}

ul,
a {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(230, 226, 226);
    font-weight: 700;


}


.menu-options:hover {
    color: black;
    cursor: pointer;
}


.nav-bar a:hover {
    color: rgb(204, 0, 0);
}

.profile-dropdown {

    position: absolute;
    top: 15rem;
    right:0rem;
    padding: 15px;
    border-top: 2px solid rgb(253, 232, 232);
    border-left: 2px solid rgb(253, 232, 232);
    border-bottom: 2px solid rgb(253, 232, 232);
    box-shadow: -5px 0px 60px 5px rgb(134, 119, 119);
    border-radius: 10px;
    height: 50%;
    background-color: rgb(180, 3, 3);
    color: white;


}

.hidden {
    display: none;

}

.profile-button {
    width: fit-content;
    background-color: rgb(204, 0, 0);
    padding: 15px;
    border: 3px solid black;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px black;
    margin-bottom: 1rem;
}

.profile-button:hover {
   background-color: rgb(218, 18, 18);
}

.logout-btn {
    border: 2px solid black;
    padding: 5px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 60%;
    cursor: pointer;
    color: white;
    border: 1px solid white;


}

.logout-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.user-content p{
color: rgb(0, 0, 0);
margin-bottom: 5px;
font-style: italic;

}

.user-content li {
margin-bottom: 5px;

}

.user-content {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.nav-buttons {
    display: flex;
    align-items: start;
    gap: 1rem
}

.logo-img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid rgb(59, 56, 56);
    padding: 10px ;
    background-color: rgb(0, 0, 0);

}

.manage-spots-link a {
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color:white;
    font-size: 14px;
    padding: 4px;

}

.manage-spots-link a:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
